<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #prodInfoForm="ngForm">

       <div class="form-group">
        <label for="date">Deliverytime</label>
        <input type="date" min="2022-01-01" [(ngModel)]="prodInfoDeliveryTime.date" 
          class="form-control" 
          id="date" 
          name="date" 
          required #date="ngModel">
      </div>
      <div [hidden]="(date.valid && !date.pristine) || date.untouched" class="alert alert-danger">Correct date is necessary</div>

     
      <div class="form-group">
        <label for="hour">Hour of delivery</label>
        <input type="number" min="0" max="24" [(ngModel)]="prodInfoDeliveryTime.hour" 
          class="form-control" 
          id="hour" 
          name="hour" 
          placeholder="12"
          required #hour="ngModel">
      </div>
      <div [hidden]="(hour.valid && !hour.pristine) || hour.untouched" class="alert alert-danger">Correct hour is necessary</div>


        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" min="0" [(ngModel)]="prodInfo.amount" 
            class="form-control" 
            id="amount" 
            name="amount" 
            placeholder="100"
            required #amount="ngModel">
        </div>
        <div [hidden]="!amount.pristine || amount.untouched" class="alert alert-danger">Amount is necessary</div>
        <div [hidden]="amount.valid || amount.untouched" class="alert alert-danger">Amount has to be a positive number</div>

        <div class="form-group">
          <label for="adressName">Name of reciever</label>
          <input type="text" [(ngModel)]="prodInfoAddress.name" 
            class="form-control" 
            id="adressName" 
            name="adressName" 
            placeholder="Peter Lustig"
            required #adressName="ngModel">
        </div>
        <div [hidden]="!adressName.pristine || adressName.untouched" class="alert alert-danger">Name of reciever is necessary</div>


        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" [(ngModel)]="prodInfoAddress.companyName" 
              class="form-control" 
              id="companyName" 
              name="companyName" 
              placeholder="Ananas GmbH"
              required #companyName="ngModel">
          </div>
          <div [hidden]="!companyName.pristine || companyName.untouched" class="alert alert-danger">Company name is necessary</div>
  
  
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" [(ngModel)]="prodInfoAddress.street" 
            class="form-control" 
            id="street" 
            name="street" 
            placeholder="StraßenStraße 123"
            required #street="ngModel">
        </div>
        <div [hidden]="!street.pristine || street.untouched" class="alert alert-danger">Street is necessary</div>


        <div class="form-group">
            <label for="city">City</label>
            <input type="text" [(ngModel)]="prodInfoAddress.city" 
              class="form-control" 
              id="city" 
              name="city" 
              placeholder="Berlin"
              required #city="ngModel">
          </div>
          <div [hidden]="!city.pristine || city.untouched" class="alert alert-danger">City is necessary</div>
       
          <div class="form-group">
            <label for="postCode">Postcode</label>
            <input type="text" [(ngModel)]="prodInfoAddress.postCode" 
              class="form-control" 
              id="postCode" 
              name="postCode" 
              placeholder="12345"
              required #postCode="ngModel">
          </div>
          <div [hidden]="!postCode.pristine || postCode.untouched" class="alert alert-danger">Postcode is necessary</div>
  
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" [(ngModel)]="prodInfoAddress.country" 
              class="form-control" 
              id="country" 
              name="country" 
              placeholder="Deutscheland"
              required #country="ngModel">
          </div>
          <div [hidden]="!country.pristine || country.untouched" class="alert alert-danger">Country is necessary</div>
        
        <button type="submit" [disabled]="!prodInfoForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>

