<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{homename}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/calculator">Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prodInfo">Product Info</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/newAlc">Neuer Stoff</a>
          <a class="dropdown-item" href="#">Wein</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Harter Stoff</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #searchId class="form-control mr-sm-2" type="search" placeholder="Enter product ID" aria-label="Search" id="searchId">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)='searchForId(searchId.value)'>Search</button>
    </form>
  </div>
</nav>
