<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Percent</th>
          <th scope="col">Amount</th>
          <th scope="col">Rating</th>
          <th scope="col">Age restr.</th>
          <th scope="col">Fairtrade</th>
          <th scope="col">Eco</th>
          <th scope="col">Made in</th>
          <th scope="col">Configuration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alc of alcoholList">
          <td>{{ alc.uuid }}</td>
          <td>{{ alc.alcoholBeverageType }}</td>
          <td>{{ alc.name }}</td>
          <td>{{ alc.price }}</td>
          <td>{{ alc.percentage }}</td>
          <td>{{ alc.amount }}</td>
          <td>{{ alc.productRatingEnum }}</td>
          <td>{{ alc.ageOfRestrictions }}</td>
          <td>{{ alc.fairTrade }}</td>
          <td>{{ alc.bio }}</td>
          <td>{{ alc.countryOfOrigin }}</td>
          <td><button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
              (click)="deleteAlc(alc.uuid)">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="deleteAllAlc()">Delete All</button>
    </form>

  </div>
</div>